.nextImage {
  cursor: pointer;
}

.nextImage:hover {
  transform: scale(1.05);
  transition: all 300ms ease;
}

.nextImageAvatar {
  border-radius: 50%;
}

.nextImageAvatarUser {
  cursor: pointer;
  border-radius: 50%;
}
